## Рекомендательная система аниме

### Загрузка данных

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import re

import warnings
warnings.filterwarnings('ignore')

In [26]:
anime = pd.read_csv(r"C:\Users\HASH\Downloads\MLBD\safe_anime.csv", low_memory=False)
rating = pd.read_csv(r"C:\Users\HASH\Downloads\new_rating.csv")

In [27]:
anime

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
11148,730,Houkago no Shokuinshitsu,"Drama, Romance, Yaoi",OVA,2,5.23,4550
11149,6546,Pico: My Little Summer Story,Yaoi,OVA,1,5.21,5551
11150,30663,Docchi mo Maid,"Action, Comedy, Ecchi, Yuri",ONA,1,5.15,223
11151,34382,Citrus,"Drama, Romance, School, Yuri",NaN,Unknown,NaN,2459
11152,33654,Hitorijime My Hero,Yaoi,NaN,Unknown,NaN,1574

In [28]:
rating

         user_id  anime_id  rating
0              1        20      -1
1              1        24      -1
2              1        79      -1
3              1       226      -1
4              1       241      -1
...          ...       ...     ...
7813732    73515     16512       7
7813733    73515     17187       9
7813734    73515     22145      10
7813735    73516       790       9
7813736    73516      8074       9

[7813737 rows x 3 columns]

In [29]:
# объединение датафреймов anime и rating по полю anime_id
df = pd.merge(anime, rating, on="anime_id", how="inner")
df

,anime_id,name,genre,type,episodes,rating_x,members,user_id,rating_y
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,99,5
1,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,152,10
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,244,10
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,271,10
4,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,278,-1
...,...,...,...,...,...,...,...,...,...
7712247,6546,Pico: My Little Summer Story,Yaoi,OVA,1,5.21,5551,73389,6
7712248,30663,Docchi mo Maid,"Action, Comedy, Ecchi, Yuri",ONA,1,5.15,223,12431,3
7712249,30663,Docchi mo Maid,"Action, Comedy, Ecchi, Yuri",ONA,1,5.15,223,27364,-1
7712250,30663,Docchi mo Maid,"Action, Comedy, Ecchi, Yuri",ONA,1,5.15,223,48766,-1
7712251,30663,Docchi mo Maid,"Action, Comedy, Ecchi, Yuri",ONA,1,5.15,223,53698,4

### Описание полей

**anime_id** - идентификатор аниме

**name** - название аниме

**genre** - жанр аниме

**type** - формат аниме ("TV", "Movie", "OVA", "Special" и т.д)

**episodes** - количество выпусков аниме

**rating_x** - общий рейтинг аниме

**members** - количество персонажей

**user_id** - идентификатор пользователя, оставившего отзыв

**rating_y** - отзыв пользователя

### Обработка данных

In [30]:
df.rename(columns = {'rating_x':'rating'}, inplace=True)
df.rename(columns = {'rating_y':'user rating'}, inplace=True)

In [31]:
df

,anime_id,name,genre,type,episodes,rating,members,user_id,user rating
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,99,5
1,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,152,10
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,244,10
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,271,10
4,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,278,-1
...,...,...,...,...,...,...,...,...,...
7712247,6546,Pico: My Little Summer Story,Yaoi,OVA,1,5.21,5551,73389,6
7712248,30663,Docchi mo Maid,"Action, Comedy, Ecchi, Yuri",ONA,1,5.15,223,12431,3
7712249,30663,Docchi mo Maid,"Action, Comedy, Ecchi, Yuri",ONA,1,5.15,223,27364,-1
7712250,30663,Docchi mo Maid,"Action, Comedy, Ecchi, Yuri",ONA,1,5.15,223,48766,-1
7712251,30663,Docchi mo Maid,"Action, Comedy, Ecchi, Yuri",ONA,1,5.15,223,53698,4

In [32]:
# количество пропусков в каждом столбце
df.isnull().sum()

anime_id         0
name             0
genre          110
type             4
episodes         0
rating           6
members          0
user_id          0
user rating      0
dtype: int64

два поля 'type' и 'genre' имеют пропуски, поэтому нужно заполнить их. значения взяты на основе значений других столбцов. 'genre' заполняется на основе значений 'type' и наоборот.

In [33]:
df['genre'].fillna(df.groupby('type')['genre'].transform('first'), inplace=True)

In [34]:
df['type'].fillna(df.groupby('genre')['type'].transform('first'), inplace=True)

In [35]:
# данные о числовых значениях датафрейма
df.describe()

           anime_id        rating       members       user_id   user rating
count  7.712252e+06  7.712246e+06  7.712252e+06  7.712252e+06  7.712252e+06
mean   8.941904e+03  7.668164e+00  1.808557e+05  3.671372e+04  6.168175e+00
std    8.904383e+03  6.606183e-01  1.883882e+05  2.100207e+04  3.719785e+00
min    1.000000e+00  1.670000e+00  2.900000e+01  1.000000e+00 -1.000000e+00
25%    1.222000e+03  7.280000e+00  4.584300e+04  1.895600e+04  6.000000e+00
50%    6.324000e+03  7.690000e+00  1.139930e+05  3.674600e+04  7.000000e+00
75%    1.422700e+04  8.140000e+00  2.462760e+05  5.475500e+04  9.000000e+00
max    3.451900e+04  9.500000e+00  1.013917e+06  7.351600e+04  1.000000e+01

видно, что столбец 'user rating' имеет выбросы, так как значения сильно отличаются друг от друга. также видно, что есть значения -1, что недопустимо для рейтинга

In [36]:
df[df['user rating'] == -1]

,anime_id,name,genre,type,episodes,rating,members,user_id,user rating
4,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,278,-1
13,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,684,-1
18,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,917,-1
29,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,1133,-1
31,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,1252,-1
...,...,...,...,...,...,...,...,...,...
7712234,6546,Pico: My Little Summer Story,Yaoi,OVA,1,5.21,5551,69841,-1
7712235,6546,Pico: My Little Summer Story,Yaoi,OVA,1,5.21,5551,70235,-1
7712242,6546,Pico: My Little Summer Story,Yaoi,OVA,1,5.21,5551,72756,-1
7712249,30663,Docchi mo Maid,"Action, Comedy, Ecchi, Yuri",ONA,1,5.15,223,27364,-1
7712250,30663,Docchi mo Maid,"Action, Comedy, Ecchi, Yuri",ONA,1,5.15,223,48766,-1

строк с значением -1 очень много, они занимают 1/7 строк в датасете.

возможно, такими значениями заполняли строки, где не было оценки пользователей, так что эти строки следует удалить.

In [37]:
# удаление строк, где 'user rating' равно -1
df = df[df['user rating'] != -1]

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6266365 entries, 0 to 7712251
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   anime_id     int64
 1   name         object
 2   genre        object
 3   type         object
 4   episodes     object
 5   rating       float64
 6   members      int64
 7   user_id      int64
 8   user rating  int64
dtypes: float64(1), int64(4), object(4)
memory usage: 478.1+ MB

In [39]:
# перевод строк столбца 'name' в нижний регистр и удаление ненужных символов
df['name'] = df['name'].str.lower()
df['name'] = df['name'].apply(lambda x: re.sub("[\W_]+", " ", x).strip())

In [40]:
df

,anime_id,name,genre,type,episodes,rating,members,user_id,user rating
0,32281,kimi no na wa,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,99,5
1,32281,kimi no na wa,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,152,10
2,32281,kimi no na wa,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,244,10
3,32281,kimi no na wa,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,271,10
5,32281,kimi no na wa,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,322,10
...,...,...,...,...,...,...,...,...,...
7712245,6546,pico my little summer story,Yaoi,OVA,1,5.21,5551,73135,2
7712246,6546,pico my little summer story,Yaoi,OVA,1,5.21,5551,73179,6
7712247,6546,pico my little summer story,Yaoi,OVA,1,5.21,5551,73389,6
7712248,30663,docchi mo maid,"Action, Comedy, Ecchi, Yuri",ONA,1,5.15,223,12431,3
7712251,30663,docchi mo maid,"Action, Comedy, Ecchi, Yuri",ONA,1,5.15,223,53698,4

### Анализ данных

In [41]:
# сортировка по рейтингу в порядке убывания
top_rated_anime = df.sort_values(by='rating', ascending=False)

# удаление дубликатов среди названий аниме
unique_anime_titles = top_rated_anime.drop_duplicates(subset='name')[['name', 'rating']]
# аниме с самым высоким рейтингом
unique_anime_titles.head(20)

                                                     name  rating
0                                           kimi no na wa    9.37
18623                     fullmetal alchemist brotherhood    9.26
27693                                             gintama    9.25
41017                                         steins gate    9.17
49875                                         gintama 039    9.16
51932   haikyuu karasuno koukou vs shiratorizawa gakue...    9.15
58060                                hunter x hunter 2011    9.13
65504                               gintama 039 enchousen    9.11
61534                                ginga eiyuu densetsu    9.11
64346    gintama movie kanketsu hen yorozuya yo eien nare    9.10
78779                                 clannad after story    9.06
84767                                      koe no katachi    9.05
105956                  code geass hangyaku no lelouch r2    8.98
132110                      sen to chihiro no kamikakushi    8.93
117745                              haikyuu second season    8.93
147292                            shigatsu wa kimi no uso    8.92
151553                      mushishi zoku shou 2nd season    8.88
157274                       ookami kodomo no ame to yuki    8.84
185238                     code geass hangyaku no lelouch    8.83
187966                                     hajime no ippo    8.83

на первых местах в топе аниме: "твое имя", "стальной алхимик", "гинтама", "ворота штейма", "волейбол", "хантер х хантер"

In [42]:
# самый высокий рейтинг пользователей
max_user_rating = df['user rating'].max()

# фильтрация по самому высокому рейтингу пользователей
highest_rated_anime = df[df['user rating'] == max_user_rating]

# количество оценок по полю user rating
count_user_ratings = highest_rated_anime['user rating'].count()

# удаление дубликаты по названиям аниме
result = highest_rated_anime[['name', 'user rating']].drop_duplicates()

# добавление столбца с количеством оценок
result['count_user_ratings'] = count_user_ratings

print("Аниме с самым высоким рейтингом и количество оценок:")
print(result)

Аниме с самым высоким рейтингом и количество оценок:
                                    name  user rating  count_user_ratings
1                          kimi no na wa           10              950186
2199     fullmetal alchemist brotherhood           10              950186
26774                            gintama           10              950186
28162                        steins gate           10              950186
47445                        gintama 039           10              950186
...                                  ...          ...                 ...
7711471          bikini warriors special           10              950186
7711632                     g taste 2010           10              950186
7711770                           kimera           10              950186
7711816         houkago no shokuinshitsu           10              950186
7712045      pico my little summer story           10              950186

[6094 rows x 3 columns]

In [43]:
# фильтр аниме по типу, подсчёт среднего значения рейтинга
average_ratings_by_type = df.groupby('type')['rating'].mean().reset_index()

# сортировка по рейтингу в порядке убывания
average_ratings_by_type_sorted = average_ratings_by_type.sort_values(by='rating', ascending=False)

print("Средние рейтинги аниме по типу:\n", average_ratings_by_type_sorted )

Средние рейтинги аниме по типу:
       type    rating
0    Movie  7.833154
5       TV  7.753773
4  Special  7.350774
3      OVA  7.303812
2      ONA  7.071100
1    Music  7.049417

выше всего рейтинги у аниме в форматах фильма, телесериал, выпуски "спэшл", OVA, обычные выпуски аниме. на самом последнем месте находятся аниме в музыкальном формате

In [44]:
df['rating'] = df['rating'].astype('float32')

In [45]:
# выбор случайных 100000 строк
df_small = df[['genre', 'name', 'rating']].sample(n=100000)

# разделение жанры в отдельные строки
genre_exploded = df_small['genre'].str.split(', ').explode()

# создание новый датафрейма с разделенными жанрами
genre_data = df_small.loc[genre_exploded.index].copy()
genre_data['genre'] = genre_exploded.values

# группируем по жанрам и считаем количество аниме и средний рейтинг
genre_analysis = genre_data.groupby('genre').agg(
    anime_count=('name', 'count'),
    average_rating=('rating', 'mean')
).reset_index()

# сортировка по количеству аниме в порядке убывания
genre_analysis_sorted = genre_analysis.sort_values(by='anime_count', ascending=False)

print("Анализ жанров аниме:\n", genre_analysis_sorted)

Анализ жанров аниме:
             genre  anime_count  average_rating
3          Comedy        50226        7.635177
0          Action        42672        7.735959
24        Romance        32489        7.645039
6           Drama        27504        7.878269
8         Fantasy        25940        7.693402
37   Supernatural        25698        7.819561
26         School        24456        7.651590
31        Shounen        24187        7.784992
1       Adventure        21918        7.773429
27         Sci-Fi        20972        7.684669
33  Slice of Life        14169        7.782841
7           Ecchi        12326        7.218983
20        Mystery        11985        7.904115
36    Super Power         9989        7.761057
28         Seinen         9921        7.672777
15          Magic         9848        7.655325
10          Harem         9814        7.320929
23  Psychological         7569        7.976722
17          Mecha         7269        7.764325
29         Shoujo         6332        7.692887
12         Horror         5871        7.588913
18       Military         5849        7.981991
11     Historical         4857        7.938073
38       Thriller         4660        8.242650
5          Demons         4382        7.730954
21         Parody         3504        7.728759
16   Martial Arts         3303        7.549273
35         Sports         3162        7.912720
39        Vampire         2970        7.558243
9            Game         2866        7.681706
19          Music         2642        7.747789
34          Space         2347        7.762399
22         Police         2234        8.092144
14           Kids         1616        7.262388
25        Samurai         1511        7.984395
13          Josei         1003        8.005972
30      Shoujo Ai          877        7.136705
4        Dementia          857        7.936500
32     Shounen Ai          737        7.525169
2            Cars          308        7.915844
40           Yaoi          232        6.928750
41           Yuri           41        6.215610

здесь можно увидеть самые популярные жанры аниме: на первом месте комедия, дальше идут боевики, романтические аниме, драма, фантастика и т.д.

## Рекомендательная система

### Коллаборативная фильтрация с ипользованием корреляции

In [111]:
# создание случайной выборки из 1 млн строк
new_df_sample = df.sample(n=1000000, random_state=1234)

In [117]:
# сортировка выборки, где 'user_id' встречается в датасете больше 100 раз
rec_df = new_df_sample[new_df_sample['user_id'].map(new_df_sample['user_id'].value_counts()) > 100]

In [118]:
rec_df

,anime_id,name,genre,type,episodes,rating,members,user_id,user rating
6418194,3419,sumomomo momomo chijou saikyou no yome specials,"Comedy, Ecchi, Martial Arts, Romance",Special,2,7.08,7082,21307,8
3253608,10793,guilty crown,"Action, Drama, Sci-Fi, Super Power",TV,22,7.81,460959,49471,9
7370458,24935,recorder to randoseru mi special,"Comedy, School, Seinen, Slice of Life",Special,1,6.49,2752,53120,5
3692338,32668,noblesse awakening,"Action, School, Supernatural, Vampire",ONA,1,7.72,28864,70953,8
1082815,6746,durarara,"Action, Mystery, Supernatural",TV,24,8.38,556431,21675,10
...,...,...,...,...,...,...,...,...,...
1970535,2924,ef a tale of memories,"Drama, Mystery, Romance",TV,12,8.12,151106,21893,7
6678166,262,happy lesson the final,"Comedy, Harem, Romance, School",OVA,3,6.96,6371,50603,4
4860842,17643,little busters sekai no saitou wa ore ga mamoru,"Comedy, School, Slice of Life",OVA,1,7.48,17204,58774,7
3721267,7661,giant killing,"Drama, Seinen, Sports",TV,26,7.71,36947,53419,7
3091084,14941,akb0048 next stage,"Music, Sci-Fi",TV,13,7.84,22302,43560,8

In [119]:
# создание размеренной таблицы
new_pivot_table = rec_df.pivot_table(index=["user_id"],columns=["name"],values="user rating")
new_pivot_table.fillna(0,inplace=True)

In [124]:
# корелляционная функция для поиска похожего аниме
def same_anime(anime_name, threshold=0.8, top_n=10):
    # проверка наличия указанного аниме в таблице
    if anime_name not in new_pivot_table.columns:
        print(f"'{anime_name}' не найдено в базе данных.")
        return pd.DataFrame()
    
    # Получаем данные голосов пользователей для указанного аниме
    users_vote_anime = new_pivot_table[anime_name]
    
    # Вычисляем корреляцию с другими аниме, игнорируя отсутствующие значения
    similar_with = new_pivot_table.corrwith(users_vote_anime, method='pearson')
    similar_with = pd.DataFrame(similar_with, columns=['correlation']).dropna()
    
    # Сортируем и фильтруем по порогу корреляции
    df_similar = similar_with.sort_values('correlation', ascending=False).head(top_n + 1)  # +1, чтобы исключить само аниме
    df_similar = df_similar[df_similar.index != anime_name]  # Исключаем само аниме
    
    # Применяем порог корреляции
    df_filtered = df_similar[df_similar['correlation'] >= threshold]
    
    # Проверяем, есть ли похожие аниме
    if df_filtered.empty:
        print(f"Нет похожих аниме для '{anime_name}' с порогом корреляции выше {threshold}.")
        return pd.DataFrame()
    
    return df_filtered.head(top_n)

In [127]:
similar_anime = same_anime("bleach", threshold=0.2)
print(similar_anime)

                                       correlation
name
cardfight vanguard movie neon messiah     0.237259

### Коллаборативная фильтрация

In [46]:
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

In [47]:
# выборка из 100 тысяч строк, так как оперативная память моего ноутбука не выдерживает нагрузки
df_sample = df.sample(n=100000, random_state=1)

In [48]:
df_sample

,anime_id,name,genre,type,episodes,rating,members,user_id,user rating
6761626,146,kono minikuku mo utsukushii sekai,"Comedy, Drama, Magic, Romance, Sci-Fi",TV,12,6.92,41756,7387,8
1278743,27821,fate stay night unlimited blade works prologue,"Action, Fantasy, Magic, Shounen, Supernatural",Special,1,8.32,106382,32195,9
4475353,17269,captain harlock,"Action, Drama, Sci-Fi, Space",Movie,1,7.56,25484,61487,7
2005915,6421,fullmetal alchemist brotherhood specials,"Adventure, Drama, Fantasy, Magic, Military, Sh...",Special,4,8.11,67962,11348,9
6443788,7669,quot bungaku shoujo quot kyou no oyatsu hatsukoi,"Comedy, Fantasy, School",OVA,1,7.06,14351,18785,7
...,...,...,...,...,...,...,...,...,...
1867377,16049,toaru kagaku no railgun s,"Action, Sci-Fi, Super Power",TV,24,8.16,137105,34124,10
2231504,24,school rumble,"Comedy, Romance, School, Shounen",TV,26,8.06,178553,5856,7
1808040,9656,kimi ni todoke 2nd season,"Romance, School, Shoujo, Slice of Life",TV,12,8.17,171866,48452,10
6624370,19365,samurai flamenco,"Action, Comedy, Parody",TV,22,7.00,74324,70998,8
5606539,469,karin,"Comedy, Romance, School, Shounen, Vampire",TV,24,7.33,106142,5066,8

In [49]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 6761626 to 5606539
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   anime_id     100000 non-null  int64
 1   name         100000 non-null  object
 2   genre        100000 non-null  object
 3   type         100000 non-null  object
 4   episodes     100000 non-null  object
 5   rating       100000 non-null  float32
 6   members      100000 non-null  int64
 7   user_id      100000 non-null  int64
 8   user rating  100000 non-null  int64
dtypes: float32(1), int64(4), object(4)
memory usage: 7.2+ MB

In [52]:
pivot_table = df_sample.pivot_table(
    index='user_id',
    columns='name',
    values='user rating',
).fillna(0)

In [53]:
pivot_table

name,009 1,009 1 r amp b,009 re cyborg,07 ghost,1 2 paradise,1001 nights,11 nin iru,11eyes,11eyes momoiro genmutan,11eyes picture drama,...,zoids fuzors,zoids genesis,zoids shinseiki zero,zoku natsume yuujinchou,zoku sayonara zetsubou sensei,zombie loan,zombie loan specials,zone of the enders dolores i,zone of the enders idolo,zutto mae kara suki deshita kokuhaku jikkou iinkai
user_id,,,,,,,,,,,,,,,,,,,,,
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73502,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
73503,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
73504,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
73507,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
73515,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
sparse_matrix = csr_matrix(pivot_table.values)

In [55]:
sparse_matrix.shape

(35566, 5004)

In [122]:
# создание модели ближайших соседей
# model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=10, n_jobs=-1)
model_knn = NearestNeighbors(metric='cosine', algorithm='brute')
model_knn.fit(sparse_matrix);

In [125]:
def get_recommendations(anime_name, n_recommendations=10):
    model_knn = NearestNeighbors(metric='cosine', algorithm='brute')
    model_knn.fit(sparse_matrix);
    # Проверка, существует ли аниме в таблице
    if anime_name not in pivot_table.columns:
        return f"Аниме {anime_name} не найдено."

    # Индекс строки для аниме
    anime_index = pivot_table.columns.get_loc(anime_name)

    # Получаем вектор для аниме и преобразуем его в массив с нужной формой
    anime_vector = sparse_matrix[anime_index, :].toarray().reshape(1, -1)
    print(f"Количество признаков в anime_vector: {anime_vector.shape[1]}")  # должно быть 5004

    # Получаем ближайших соседей
    distances, indices = model_knn.kneighbors(anime_vector, n_neighbors=n_recommendations + 1)

    # Получаем рекомендации
    recommended_anime = []
    for i in range(1, len(distances.flatten())):  # Начинаем с 1, чтобы пропустить самозапись
        recommended_anime.append((pivot_table.columns[indices.flatten()[i]], distances.flatten()[i]))

    return recommended_anime

In [126]:
anime_name = '11eyes'
recommendations = get_recommendations(anime_name)

# Проверяем, является ли recommendations списком
if isinstance(recommendations, list):
    print(f"Рекомендации для аниме с {anime_name}:")
    for rec in recommendations:
        print(f"Аниме: {rec[0]}, Расстояние: {rec[1]}")
else:
    # Выводим сообщение об ошибке, если recommendations не является списком
    print(recommendations)

Количество признаков в anime_vector: 5004

IndexError: index 25927 is out of bounds for axis 0 with size 5004

In [76]:
anime_name = '11eyes'
recommendations = get_recommendations(anime_name)

print(f"Рекомендации для аниме с {anime_name}:")
for rec in recommendations:
    # print(f"Аниме: {rec[0]}, Расстояние: {rec[1]}")
    print(f"Аниме: {rec[0]}, Расстояние: {rec[1]}")

Количество признаков в anime_vector: 35566

ValueError: X has 35566 features, but NearestNeighbors is expecting 5004 features as input.

In [50]:
print(f"Количество признаков в sparse_matrix: {sparse_matrix.shape[1]}")
print(f"Количество признаков в anime_vector: {anime_vector.shape[1]}")

Количество признаков в sparse_matrix: 5004

NameError: name 'anime_vector' is not defined

In [50]:
anime_df_matrix = csr_matrix(pivot_table.values)

In [53]:
pivot_table

anime_id,1,5,6,7,8,15,16,17,18,19,...,33696,33740,33902,33934,33964,34085,34103,34238,34240,34283
user_id,,,,,,,,,,,,,,,,,,,,,
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73502,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
73503,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
73504,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
73507,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
73515,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [57]:
df_sample

,anime_id,name,genre,type,episodes,rating,members,user_id,user rating
6761626,146,kono minikuku mo utsukushii sekai,"Comedy, Drama, Magic, Romance, Sci-Fi",TV,12,6.92,41756,7387,8
1278743,27821,fate stay night unlimited blade works prologue,"Action, Fantasy, Magic, Shounen, Supernatural",Special,1,8.32,106382,32195,9
4475353,17269,captain harlock,"Action, Drama, Sci-Fi, Space",Movie,1,7.56,25484,61487,7
2005915,6421,fullmetal alchemist brotherhood specials,"Adventure, Drama, Fantasy, Magic, Military, Sh...",Special,4,8.11,67962,11348,9
6443788,7669,quot bungaku shoujo quot kyou no oyatsu hatsukoi,"Comedy, Fantasy, School",OVA,1,7.06,14351,18785,7
...,...,...,...,...,...,...,...,...,...
1867377,16049,toaru kagaku no railgun s,"Action, Sci-Fi, Super Power",TV,24,8.16,137105,34124,10
2231504,24,school rumble,"Comedy, Romance, School, Shounen",TV,26,8.06,178553,5856,7
1808040,9656,kimi ni todoke 2nd season,"Romance, School, Shoujo, Slice of Life",TV,12,8.17,171866,48452,10
6624370,19365,samurai flamenco,"Action, Comedy, Parody",TV,22,7.00,74324,70998,8
5606539,469,karin,"Comedy, Romance, School, Shounen, Vampire",TV,24,7.33,106142,5066,8

In [80]:
def find_similar_anime(anime_name, num_neighbors=10):
    # Инициализация модели NearestNeighbors
    model_knn = NearestNeighbors(metric='cosine', algorithm='brute')
    model_knn.fit(sparse_matrix)
    
    # Найдите индекс заданного аниме
    anime_index = pivot_table.columns.get_loc(anime_name)
    
    # Извлечение вектора аниме
    anime_vector = sparse_matrix[:, anime_index].toarray()  # Получить вектор аниме
    anime_vector = anime_vector.reshape(1, -1)  # Преобразование в 2D массив
    print(f"Размер вектора аниме: {anime_vector.shape}")  # Проверка размерности

    # Запрос ближайших соседей
    distances, indices = model_knn.kneighbors(anime_vector, n_neighbors=num_neighbors + 1)
    
    # Исключить первый индекс (который является самим аниме)
    similar_indices = indices[0][1:]
    
    # Получить названия похожего аниме на основе индексов
    list_similar_anime = [pivot_table.columns[idx] for idx in similar_indices]
    similar_anime = pd.DataFrame({"Похожие аниме": list_similar_anime})
    return similar_anime

In [81]:
anime_index = pivot_table.columns.get_loc("zoids fuzors")
anime_vector = sparse_matrix[:, anime_index].toarray()  # Получить вектор аниме
print(f"Количество признаков в sparse_matrix: {sparse_matrix.shape[1]}")
print(f"Количество признаков в anime_vector: {anime_vector.shape[1]}")

Количество признаков в sparse_matrix: 5004
Количество признаков в anime_vector: 1

In [82]:
input_anime = "zoids fuzors"  # Замените на актуальное название аниме
print(find_similar_anime(input_anime))

Размер вектора аниме: (1, 35566)

ValueError: X has 35566 features, but NearestNeighbors is expecting 5004 features as input.

In [128]:
# Создание сводной таблицы
pivot_table = df_sample.pivot_table(index='user_id', columns='name', values='user rating', aggfunc='mean').fillna(0)

# Преобразование в разреженную матрицу
sparse_matrix = csr_matrix(pivot_table.values)

def find_similar_anime(anime_name, num_neighbors=10):
    # Проверка наличия аниме в данных
    if anime_name not in pivot_table.columns:
        return f"Название '{anime_name}' не найдено в данных."
    
    # Инициализация модели NearestNeighbors
    model_knn = NearestNeighbors(metric='cosine', algorithm='brute')
    model_knn.fit(sparse_matrix)

    # Найдите индекс заданного аниме
    anime_index = pivot_table.columns.get_loc(anime_name)

    # Извлечение вектора аниме
    anime_vector = sparse_matrix[:, anime_index].toarray()  # Получите вектор аниме
    anime_vector = anime_vector.reshape(1, -1)  # Преобразование в 2D массив

    # Запрос ближайших соседей
    distances, indices = model_knn.kneighbors(anime_vector, n_neighbors=num_neighbors + 1)
    
    # Исключить первый индекс (который является самим аниме)
    similar_indices = indices[0][1:]

    # Получить названия похожего аниме на основе индексов
    list_similar_anime = [pivot_table.columns[idx] for idx in similar_indices]
    similar_anime = pd.DataFrame({"Похожие аниме": list_similar_anime})
    return similar_anime

# Пример использования
input_anime = "zoids fuzors"  # Замените на актуальное название аниме
print(find_similar_anime(input_anime))

MemoryError: Unable to allocate 1.33 GiB for an array with shape (5004, 35566) and data type float64

### Косинусное сходство

In [56]:
from sklearn.metrics.pairwise import cosine_similarity

In [57]:
# вычисление косинусного сходства
similarity_score = cosine_similarity(pivot_table.T)

In [60]:
# создание перевёрнутой таблицы
pivot_table_T = pivot_table.T

In [69]:
# функция для рекомендаций аниме по принципу косинусного сходства
def cos_recommend_anime(anime_name):
    try:
        # поиск индекса для указанного названия аниме в pivot_table_T
        index = np.where(pivot_table_T.index == anime_name)[0][0]
    except IndexError:
        print(f"'{anime_name}' не найдено в базе данных.")
        return []
    
    # получение списка схожих аниме
    similar_anime = sorted(
        list(enumerate(similarity_score[index])),
        key=lambda x: x[1],
        reverse=True
    )[1:11]  # берем топ-10 схожих аниме, исключая первое (само себя)
    
    data = []
    
    for i in similar_anime:
        item = []
        temp_df = df_sample[df_sample['name'] == pivot_table_T.index[i[0]]]
        if not temp_df.empty:
            item.extend(list(temp_df.drop_duplicates('name')['name'].values))
            data.append(item)
        else:
            print(f"Данные для аниме с индексом {i[0]} не найдены.")
    return data

In [77]:
anime_name = "zombie loan"
recommended_animes = cos_recommend_anime(anime_name)
print(f"Рекомендованные аниме по типу {anime_name}: \n", recommended_animes)

Рекомендованные аниме по типу zombie loan:
 [['fushigiboshi no futagohime'], ['saishuu shiken kujira'], ['comic party revolution ova'], ['kuragehime soreike amars tankentai'], ['x² double x'], ['togainu no chi'], ['umi monogatari anata ga ite kureta koto shinjiau kokoro'], ['tytania'], ['kimi ga nozomu eien ayu mayu gekijou'], ['pokemon housoukyoku']]

In [78]:
anime_name = "naruto"
recommended_animes = cos_recommend_anime(anime_name)
print(f"Рекомендованные аниме по типу {anime_name}: \n", recommended_animes)

Рекомендованные аниме по типу naruto:
 [['petopeto san'], ['solty rei special'], ['hetalia the world twinkle'], ['jikuu ihoujin kyoko chocola ni omakase'], ['kakko kawaii sengen 2'], ['musaigen no phantom world limitless phantom world'], ['seupideuwang beongae'], ['smile precure movie ehon no naka wa minna chiguhagu'], ['tegami haikei juugo no kimi e'], ['wind a breath of heart']]

In [82]:
df_sample

,anime_id,name,genre,type,episodes,rating,members,user_id,user rating
6761626,146,kono minikuku mo utsukushii sekai,"Comedy, Drama, Magic, Romance, Sci-Fi",TV,12,6.92,41756,7387,8
1278743,27821,fate stay night unlimited blade works prologue,"Action, Fantasy, Magic, Shounen, Supernatural",Special,1,8.32,106382,32195,9
4475353,17269,captain harlock,"Action, Drama, Sci-Fi, Space",Movie,1,7.56,25484,61487,7
2005915,6421,fullmetal alchemist brotherhood specials,"Adventure, Drama, Fantasy, Magic, Military, Sh...",Special,4,8.11,67962,11348,9
6443788,7669,quot bungaku shoujo quot kyou no oyatsu hatsukoi,"Comedy, Fantasy, School",OVA,1,7.06,14351,18785,7
...,...,...,...,...,...,...,...,...,...
1867377,16049,toaru kagaku no railgun s,"Action, Sci-Fi, Super Power",TV,24,8.16,137105,34124,10
2231504,24,school rumble,"Comedy, Romance, School, Shounen",TV,26,8.06,178553,5856,7
1808040,9656,kimi ni todoke 2nd season,"Romance, School, Shoujo, Slice of Life",TV,12,8.17,171866,48452,10
6624370,19365,samurai flamenco,"Action, Comedy, Parody",TV,22,7.00,74324,70998,8
5606539,469,karin,"Comedy, Romance, School, Shounen, Vampire",TV,24,7.33,106142,5066,8

###  Косинусное сходство по жанру

In [89]:
# функция для рекомендаций аниме по жанру
def recommend_by_genre(genre_name, top_n=10):
    genre_df = df_sample[df_sample['genre'].str.contains(genre_name, case=False, na=False)]
    
    if genre_df.empty:
        print(f"Нет аниме с жанром '{genre_name}' в базе данных.")
        return []
    
    # удаление дубликатов названий и сортировка по рейтингу
    top_anime_by_genre = genre_df.drop_duplicates(subset='name').sort_values(by='rating', ascending=False).head(top_n)
    
    # создание списка с названиями
    recommendations = list(top_anime_by_genre['name'].values)
    
    return recommendations

In [88]:
anime_genre = "action"
recommended_anime_genre = recommend_by_genre(anime_genre)
print(f"Аниме жанра {anime_genre}: \n", recommended_anime_genre)

Аниме жанра action:
 ['fullmetal alchemist brotherhood', 'gintama 039', 'hunter x hunter 2011', 'gintama 039 enchousen', 'gintama movie kanketsu hen yorozuya yo eien nare', 'gintama', 'code geass hangyaku no lelouch r2', 'code geass hangyaku no lelouch', 'rurouni kenshin meiji kenkaku romantan tsuioku hen', 'cowboy bebop']